.sidebar{
    width: 20%;
    position: relative;
    background: #1c1c1c;
    &_box{
z-index: 999;
position: fixed;
    }
    &_item{
        padding: 10px;
        color: #fff;
        font-size: 26px;
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 15px 0 0 20px;
        transition: 0.4s;
        &.active{
            transition: 0.4s;
            background-color: #252525;  /* Faollashgan itemning fon rangi */
    color: white; 
    border-radius: 10px 0 0 10px ;
    a{
        color: #f7c8cc;
    }
        }
a{
    font-family: Arial;
    color: #fff;
    font-size: 22px;
}
    }
}
  