.modal {
  &_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_content {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    position: relative;
  }
  &_close {
    position: absolute;
    right: 10px;
    top: 10px;
    &_icon {
      width: 15px;
      height: 15px;
    }
  }
  &_title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
  }
  &_imgs{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    p{
      color: #fff;
      font-size: 18px;
    }
  }
  &_buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  &_delate {
    background-color: #fbe8e9;
    color: #d61f1f;
    &:hover {
      border: 1px solid #d61f1f !important;
      background-color: #fbe8e9 !important;
    }
  }
  &_cancel {
    background: #dcdcdc;
    color: #01384d;
    &:hover {
      border: 1px solid #007bff !important;
      background-color: #dcdcdc !important;
    }
  }
}
