.header {
  display: flex;
  height: calc(100vh - 10vh);
  &_box{
    border-radius: 20px 0 0 0 ;
    padding-top: 15px;
    width: 100%;
    height: 90vh;
    overflow-x: scroll;
    background: #252525;
  }
  &_list {
    display: flex;
    justify-content: space-evenly;
    background-color: #1c1c1c;
    padding: 10px;
    border-radius: 20px;
  }
  &_item {
    width: 200px;
    font-size: 14px;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      color: #fff;
    }
  }
}
.category {
  &_section {
    display: flex;
    align-items: center;
    background-color: #252525;
    justify-content: space-evenly;
    padding: 10px;
  }
  &_name {
    width: 200px !important;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    overflow-y: scroll;
  }
  &_img {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      min-width: 100px;
      max-height: 50px;
      object-fit: contain;
      border-radius: 8px;
    }
  }
  &_btns {
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  &_btn{
    color: #D61F1F;
    background: #fbe8e9;
    padding: 7px 8px;
    border-radius: 8px;
    svg{
        width: 16px;
        height: 16px;
    }
  }
  &_update{
    background: #1c1c1c;
    padding: 8px;
    svg{
        width: 16px;
        height: 16px;
        color:  green;
    }
  }
}
