.form{
   min-width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
}
.username{
    width: 300px;
}
.password{
    width: 300px;
}
.btn{
    width: 100px;
   margin-right: 270px !important;
}
